.sobre{
    background-color: lightseagreen;
}

.projetos{
    background-color: lightsalmon;

}

.parceiros{
    background-color: lightgoldenrodyellow;

}

.news{
    background-color: lightgray;

}

.index{
    background-color: lightsteelblue;

}

.blog{
    background-color: lightpink;

}